@model ModSettings

<form asp-page-handler="DeleteAll" method="post">
	<button class="btn btn-danger" type="submit" onclick="return window.confirm('Wirklich alle Tournamentdaten in der Datenbank löschen?')">Tournamentdaten komplett löschen!</button> (Achtung: nur kurz vor dem Start benutzen!)
</form>