@model ModSettings

<form asp-page-handler="Motd" method="post">
	<div class="input-group mb-3">
		Aktuelle Nachricht: @{
			if (Model.Motd.Length == 0)
			{
				<i>keine Nachricht</i>
			}
			else
			{
				<b>@Model.Motd</b>
			}
		}
	</div>
	<div>
		Neue Nachricht
	</div>
	<div class="input-group mb-3">
		<input name="motd" type="text" style="width: 90%" />
		<button class="btn btn-outline-dark" type="submit">Setzen</button>
	</div>
</form>