@page
@model RimionshipServer.Pages.Admin.Index

@{
	ViewData["Title"] = "Admin Area";
}
<div class="text-center">
	<a class="btn btn-outline-dark" asp-page="ModSettings">Einstellungen</a>
	<a class="btn btn-outline-dark" asp-page="Manage">Spieler</a>
	<a class="btn btn-outline-dark" asp-page="GraphConfigurator">Graphen</a>
</div>