@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RimionshipServer.Pages.Admin.ModSettings

@{
	ViewData["Title"] = "Einstellungen";
}
@section Scripts
{
@{
#if DEBUG
}
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
@{
#else
}
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
@{
#endif
}
    <script type="text/javascript" src="~/lib/Popper/popper.min.js"></script>
    <script type="text/javascript" defer="">
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
        
		function getCookie(cname) {
			 let name = cname + "=";
			 let decodedCookie = decodeURIComponent(document.cookie);
			 let ca = decodedCookie.split(';');
			 for (let i = 0; i < ca.length; i++) {
				  let c = ca[i];
				  while (c.charAt(0) === ' ') {
						c = c.substring(1);
				  }
				  if (c.indexOf(name) === 0) {
						return c.substring(name.length, c.length);
				  }
			 }
			 return "";
		}
		function setCookie(cname, val) {
			 document.cookie = cname + "=" + val + "; path=/";
		}

		let tabIndex = getCookie("selectedtab");
		if (!tabIndex) {
			 tabIndex = "1";
			 setCookie("selectedtab", tabIndex);
		}

		const t = document.getElementById("tab" + tabIndex);
		if (t) t.checked = true;

		const editBtn = document.getElementById("editBtn");
		const select = document.getElementById("ActiveSetting");
		function reroute() {
			 location.href = "@Url.PageLink("CreateNewSetting")" + "?SettingId=" + select.options[select.selectedIndex].value;
		}
		editBtn.onclick = reroute;
        const downloadUri = document.getElementById("downloadUri");
        downloadUri.value = window.location.host;
	</script>
	}
	@section Css
	{
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" href="/css/tabs.css">
	}
	<div>
		<h1>Einstellungen</h1>
		<div class="tabbed">
			<input id="tab1" type="radio" name="tabs" onClick="setCookie('selectedtab', '1')" />
			<input id="tab2" type="radio" name="tabs" onClick="setCookie('selectedtab', '2')" />
			<input id="tab3" type="radio" name="tabs" onClick="setCookie('selectedtab', '3')" />
			<input id="tab4" type="radio" name="tabs" onClick="setCookie('selectedtab', '4')" />
			<input id="tab5" type="radio" name="tabs" onClick="setCookie('selectedtab', '5')" />
			<input id="tab6" type="radio" name="tabs" onClick="setCookie('selectedtab', '6')" />

			<nav>
				<label for="tab1">Spieldatei</label>
				<label for="tab2">Tournament Status</label>
				<label for="tab3">Broadcast-Nachricht</label>
				<label for="tab4">Erlaubte Mods</label>
				<label for="tab5">Mod-Einstellungen</label>
				<label for="tab6">Datenbank</label>
			</nav>

			<figure>
				<div class="tab1"><partial name="_File" model=Model></partial></div>
				<div class="tab2"><partial name="_Status" model=Model></partial></div>
				<div class="tab3"><partial name="_Message" model=Model></partial></div>
				<div class="tab4"><partial name="_ModList" model=Model></partial></div>
				<div class="tab5"><partial name="_Settings" model=Model></partial></div>
				<div class="tab6"><partial name="_Database" model=Model></partial></div>
			</figure>
		</div>
	</div>