@page
@model RimionshipServer.Pages.Api.Laufbanner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
    	.marquee {
    		max-width: 100vw;
    		white-space: nowrap;
    		overflow: hidden;
    		font-weight: bold;
    		font-size: xx-large;
    		color: #9d9d9c;
    		font-family: 'Roboto Condensed', sans-serif;
    	}
        
    	.marquee span {
    		display: inline-block;
    		padding-left: 100%;
    		animation: marquee @(Model.Entries.Count() * 10)s linear infinite;
    	}
    
    	.marquee span:hover {
    		animation-play-state: paused 
    	}
    
    	@@keyframes marquee {
    	    0%   {transform: translate3d(0,0,0);}
    	    100% {transform: translate3d(-100%,0,0);}
    	}
    </style>

    <title></title>
</head>
<body>
<div>
    <div id="marquee" class="marquee">
        <span>
            @{
                var toShow = Model.Entries.Aggregate("", (current, modelEntry) => current + $" #{(modelEntry.Item1 + 1)}: {modelEntry.Item2} {modelEntry.Item3} ◈ ");
                toShow = toShow[..^2];
            }
            @toShow
        </span>
    </div>
</div>
<script type="text/javascript" defer="">
    window.setTimeout(() => {window.location = window.location}, @(Model.Entries.Count() * 10 * 1000));
</script>
</body>
</html>