@page "{width}/{height}"
@model RimionshipServer.Pages.Api.ShowStream
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
     <title>
        Remote Controlled Stream
    </title>
</head>
<iframe
    id="twitchPlayer"
    src=""
    height="@RouteData.Values["height"]"
    width="@RouteData.Values["width"]"
    muted="true"
    autoplay="true"
    allowfullscreen="true">
</iframe>

<script type="text/javascript" async="">

const player = document.getElementById("twitchPlayer");
const baseUrl = "https://player.twitch.tv/?channel=";
let currentStreamer = "";

function getTwitchStreamFor(channel) {
  return baseUrl + channel + "&parent=" + window.location.hostname
}

function handleErrors(response) {
    if (!response.ok) {
        window.location.reload();
        return;
    }
    return response.json();
}

async function setStreamerId() {
    try {
        await fetch("?handler=Streamer", {
            method: "get"
        })
        .then(response => handleErrors(response))
        .then(async (data) => {
            if (currentStreamer !== data.streamer) {
                player.setAttribute("src", getTwitchStreamFor(data.streamer));
                currentStreamer = data.streamer;
                document.title = currentStreamer;
            }
        });
    } catch (e) {
        window.location.reload();
    }
}

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

async function run() {
    while (true) {
        await setStreamerId();
        await sleep(5000);
    }
}

run().then(_ => {});
</script>
<script type="text/javascript" async="" src="~/js/ShowStream.js"></script>
</html>