@page "{id}/{secret}"
@model RimionshipServer.Pages.Api.SimpleGraph

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Graph @Model.GraphName</title>
    </head>
    <body>
        <h1 id="Loading">Loading Graph, please wait!</h1>
        <canvas id="myChart" hidden=""></canvas>
        <img src="" hidden="" id="myImg" alt=""/>
   
@{
#if DEBUG
}
    <script src="~/lib/chart-js/dist/chart.js"></script>
@{
#else
}
    <script src="~/lib/chart-js/dist/chart.min.js"></script>
@{
#endif
}
    <script>
         const labels = JSON.parse('@Html.Raw(Json.Serialize(Model.Labels))');
         const datasets = JSON.parse('@Html.Raw(Json.Serialize(Model.Datasets))');
         const data = {
           labels: labels,
           datasets: datasets
         };
         const config = {
           type: 'line',
           data: data,
           options: {
                animation: {
                    onComplete: onCompleteHandler
                    }
                },
               bezierCurve : false,
           };
         const myChart = new Chart(
             document.getElementById('myChart'),
             config
           );
         function onCompleteHandler(){
             document.getElementById('Loading').hidden = true;
             const myImg = document.getElementById('myImg');
             myImg.src = myChart.toBase64Image();
             myImg.hidden = false;
         }
    </script>
    </body>
</html>