@using Microsoft.AspNetCore.Identity
@inject SignInManager<RimionUser> SignInManager
@inject UserManager<RimionUser> UserManager

@{
    var user = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    if (user != null)
    {
        <form asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button class="menulogout" type="submit">Logout</button>
        </form>
        <span class="menu">
            <img id="header-avatar" src="@(user.AvatarUrl)" /> @User.Identity?.Name
        </span>
    }
}