@page
@inject SignInManager<RimionUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-5">Du bist erfolgreich angemeldet!</h1>

        <p>
            Weitere Infos folgen.
        </p>

        <p>
            Du hast es dir anders überlegt? Du kannst deine Teilnahme <a asp-page="/DeleteAccount">hier</a> zurückziehen.
        </p>
    }
    else
    {
        <p>
            Um dein Interesse zu bekunden, melde dich bitte mit Twitch an.
        </p>

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="/" method="post" class="form-horizontal">
            <div>
                <p>
                    <button type="submit" class="btn btn-primary" name="provider" value="Twitch" title="Login mit deinem Twitch Account">Login</button>
                </p>
            </div>
        </form>
    }
</div>