@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Klick hier um dich abzumelden.</button>
            </form>
        }
        else
        {
            <p>Du hast dich erfolgreich abgemeldet.</p>
        }
    }
</header>
