@page
@model RimionshipServer.Pages.ModLoginModel
@{
    ViewData["Title"] = "Mod Login";
}

<h1>Mod Login</h1>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
else
{
    <p>Verknüpfung abgeschlossen! Dein Spiel sollte sich jeden Moment einloggen. Du kannst dieses Fenster schliessen.</p>
}
