@page

@{
	ViewData["Title"] = "Teilnahmebedingungen";
}

<h3>Regeln zur Teilnahme</h3>
<ul>
	<li>Jeder Teilnehmer muss das Event auf Twitch streamen</li>
	<li>Für die Nachvollziehbarkeit müssen VODs einschaltet sein</li>
	<li>Der Stream soll nach Möglichkeit durchgehend laufen</li>
	<li>Gewinner ist der Spieler mit dem höchsten Koloniewert auf der selbst ausgewählten „Hauptkarte“</li>
	<li>Eventstart: 02. Oktober 2022 um 9 Uhr mitteleuropäischer Zeit UTC/GMT +2</li>
	<li>Eventende: 02. Oktober 2022 um 20 Uhr mitteleuropäischer Zeit UTC/GMT +2</li>
	<li>RimWorld Version 1.3</li>
	<li>Keine DLC’s</li>
	<li>Spielsprache freiwählbar</li>
	<li>Die Rimionship-Mod ist als einzige Mod verpflichtend</li>
	<li>Es können weitere optionale Mods aus dem Rimionship 2022 Modpack verwendet werden</li>
	<li>Gecrackte Versionen sind nicht zugelassen</li>
	<li>Exploits sind verboten: Jede Mechanik, mit welcher Ihr ohne Materialien und ohne Arbeitsaufwand von einem Kolonisten offensichtliche Vorteile erzielt, sind nicht erwünscht und verboten (Bug-Using ist selbstverständlich auch nicht erlaubt). <a href="https://www.youtube.com/watch?v=9JWwEartHt0&list=PL-5sNQXZQOii3qzsXh4XsXc_BGiPhtAY">Beispiele für verbotene Exploits</a></li>
</ul>

<h3>Details zu den Startbedingungen</h3>
<ul>
	<li>Zuschauer entscheiden über Startbedingung (Biom: Tundra/flach, Dschungel/berge oder Savanne/flach)</li>
	<li>Erzähler: Cassandra Classic</li>
	<li>Schwierigkeit: Verlieren macht Spaß</li>
	<li>Neustart erlaubt</li>
	<li>Laden Erlaubt Modus - Nutzung nur erlaubt bei Bugs, und ungewollten Fehlern</li>
	<li>Umzüge sind erlaubt</li>
	<li>Pausen / Spielunterbrechungen sind erlaubt</li>
	<li>Kolonisten sind von Teilnehmern freiwählbar</li>
</ul>

<h3>Restreaming</h3>
<p>Mit dem Akzeptieren dieser Teilnahmebedingungen erklärt der Teilnehmer sich bereit, dass der live von ihm auf Twitch erzeugten Content (Video und Audio) auf dem offiziellen Twitch-Kanal der Rimionship (https://www.twitch.tv/rimionship) wiederverwertet und gestreamt wird</p>

<h3>Zustellung eventueller Preise</h3>
<p>Im Falle eines Sieges in einer Haupt- oder Nebenkategorie ist es für die Zustellung der Preise unabdingbar, dass der Sieger eine gültige Versand-Adresse an das Rimionship Team mitteilt</p>
<p>Dabei kann es sich auch um ein annonymes Postfach oder eine Paketstation handeln</p>
<p>Sämtliche Preise sind nicht verderblich</p>

<h3>Änderungsvorbehalt</h3>
<p>Bis zum 25.09.2022 behalten wir uns stillschweigende Änderungen an diesen Bedingungen vor</p>
<p>Der Teilnehmer ist dazu angehalten, sich ab dem 26.09.2022 nochmals über den aktuellen Stand dieser Teilnahmebedingungen zu informieren und zu prüfen, ob er nach wie vor damit einverstanden ist</p>