@page

@{
	ViewData["Title"] = "Conditions for Participation";
}

<h3>Rules for Participation</h3>
<ul>
	<li>Each participant must stream the event on Twitch</li>
	<li>VODs must be switched on for traceability</li>
	<li>Streaming should run continuously (with the exception of technical difficulties)</li>
	<li>The winner is the player with the highest colony wealth on the self-selected "main map"</li>
	<li>Event start: October 02, 2022 at 9 AM Central European Time UTC/GMT +2</li>
	<li>Event end: October 02, 2022 at 8 p.m. Central European Time UTC/GMT +2</li>
	<li>RimWorld Version 1.3</li>
	<li>No DLC's</li>
	<li>Game language freely selectable</li>
	<li>The Rimionship mod is the only mod that is mandatory</li>
	<li>Other optional mods from the Rimionship 2022 Modpack can be used</li>
	<li>Cracked RimWorld versions are not allowed</li>
	<li>Exploits are forbidden: Every mechanic with which you can gain obvious advantages from a colonist without materials and without effort is undesirable and forbidden (bug-using is of course also not allowed). <a href="https://www.youtube.com/watch?v=9JWwEartHt0&list=PL-5sNQXZQOii3qzsXh4XsXc_BGiPhtAY">Examples of forbidden exploits</a></li>
</ul>

<h3>Details on the starting conditions</h3>
<ul>
	<li>Spectators decide on starting condition (biome: tundra/flat, jungle/mountains or savannah/flat)</li>
	<li>Storyteller: Cassandra Classic</li>
	<li>Difficulty: Losing is fun</li>
	<li>Restarts allowed</li>
	<li>Loading save games - Used only for bugs and unexpected game errors</li>
	<li>Relocations are allowed</li>
	<li>Breaks / game interruptions are allowed</li>
	<li>Colonists are freely selectable by participants</li>
</ul>

<h3>Restreaming</h3>
<p>By accepting these Terms and Conditions of Participation, the participant agrees that the content (video and audio) generated live on Twitch will be reused and streamed on the official Rimionship Twitch channel (https://www.twitch.tv/rimionship)</p>

<h3>Delivery of prizes</h3>
<p>In the event of a win in a major or minor category, it is essential for prize delivery that the winner provides a valid shipping address to the Rimionship team</p>
<p>This can also be an anonymous post office box or a parcel station</p>
<p>All prizes are non-perishable</p>

<h3>Subject to change</h3>
<p>We reserve the right to make tacit changes to these terms and conditions until September 25, 2022</p>
<p>The participant is required to find out about the current status of these conditions of participation again from September 26, 2022 and to check whether they still agree to them</p>