table {
    table-layout: fixed;
    word-wrap: break-word;
}

.modrow {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.userrow {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.banned {
    background-color: #ffb0c0;
}

.admin {
    background-color: #b0d0ff;
}

.userrow * button {
    color: black;
}

    .userrow * button:hover {
        color: gray;
    }

    .userrow * button:hover {
        color: gray;
    }

.userrow form {
    display: inline;
}

svg {
    height: 2rem;
}

.bg-default {
    background-color: #ffffff !important;
    color: black;
}

    .bg-default .userrow {
        color: black;
    }

        .bg-default .userrow * button {
            color: black;
        }

            .bg-default .userrow * button:hover {
                color: gray;
            }
