table {
    table-layout: fixed;
    word-wrap: break-word;
}

.modrow {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.userrow {
    padding: 0;
    margin: 0;
    color: white;
    vertical-align: middle;
}

    .userrow * button {
        color: white;
    }

        .userrow * button:hover {
            color: gray;
        }

        .userrow * button:hover {
            color: gray;
        }

    .userrow form {
        display: inline;
    }

svg {
    height: 2rem;
}

.bg-default {
    background-color: #ffffff !important;
    color: black;
}

    .bg-default .userrow {
        color: black;
    }

        .bg-default .userrow * button {
            color: black;
        }

            .bg-default .userrow * button:hover {
                color: gray;
            }

.bg-green {
    background-color: darkgreen !important;
    color: white;
}

.bg-red {
    background-color: darkred !important;
    color: white;
}

.bg-yellow {
    background-color: #d5be00 !important;
    color: white;
}

.bg-blue {
    background-color: darkblue !important;
    color: white;
}

.bg-light-blue {
    background-color: lightskyblue !important;
    color: white;
}
