.stats {
    color: #9d9d9c;
    font-size: 150%;
    font-family: 'Roboto Condensed', sans-serif;
}

.stats * {
    border: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.tablefont {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 140%;
}
