@inherits LayoutComponentBase

<HeaderComponent />


<AuthorizeView>
	<Authorized>
		<Placeholder />
	</Authorized>

	<NotAuthorized>
		<div class="alert alert-warning fs-5" role="alert">
			Please login using the button on the top right to access the dashboard.
		</div>
	</NotAuthorized>
</AuthorizeView>
