@inject RimionshipServer.Auth.ModProvider ModProvider

<AuthorizeView>
	<Authorized>
		<span class="navbar-text badge text-bg-secondary fs-6">Hello <b>@context.User.Identity?.Name</b>!</span>
		@if (@ModProvider.ModId.IsEmpty())
		{
			<span class="navbar-text badge text-bg-danger fs-6">Mod not yet configured</span>
		}
		else
		{
			<span class="navbar-text badge text-bg-success fs-6">Mod configured</span>
		}
	</Authorized>
</AuthorizeView>
