@inject ModProvider ModProvider

<AuthorizeView>
	<Authorized>
		<form method="post" action="auth/signout">
			Hello <b>@context.User.Identity.Name</b> !<br />
			@if (@ModProvider.ModId.IsEmpty()) {
			   <span>Mod not yet configured</span>
			} else {
				<span>Mod configured</span>
			}, <a href="javascript:document.forms[0].submit()">Sign out</a>
		</form>
	</Authorized>

	<NotAuthorized>
		<a href="/auth/signin-twitch">Sign in with Twitch</a>
	</NotAuthorized>
</AuthorizeView>
