<div class="top-row navbar navbar-dark">
	<a class="navbar-brand" href="">Rimionship</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="nav-adjust @NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav nav-items">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="test" Match="NavLinkMatch.All">
				<span class="oi oi-hard-drive" aria-hidden="true"></span> Test
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<LoginComponent />
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
