html,
body,
* {
    font-size: 9pt;
}

.bigger {
    font-size: 12pt;
}

.bigger b {
    font-size: 12pt;
    line-height: 18pt;
}

.highlight:hover {
    background-color: #f0f0f0;
}

body {
    margin: 5px;
}

.sortable th {
    user-select: none;
}

.table-stoppable.table-secondary {
    cursor: progress;
}

.mini-avatar {
    width: 16px;
    height: 16px;
}

.stats th {
    text-align: center;
}

.stats tr td {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    white-space: nowrap;
}

.left {
    text-align: left;
}

.castButton {
    margin-top: 6px !important;
    color: red !important;
    border: 3px solid red !important;
    background-color: black !important;
}

.bg-red {
    background-color: #800;
}

.bg-green {
    background-color: #060;
}