html,
body,
* {
    font-size: 9pt;
}

#root {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.bigger {
    font-size: 12pt;
}

.bigger b {
    font-size: 12pt;
    line-height: 18pt;
}

.highlight:hover {
    background-color: #f0f0f0;
}

body {}

.sortable th {
    user-select: none;
}

.table-stoppable.table-secondary {
    cursor: progress;
}

.mini-avatar {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

.stats th {
    text-align: center;
}

.stats tr td {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    white-space: nowrap;
}

.stats th:nth-child(1) {
    text-align: right !important;
    padding-right: 4px;
}

.stats tr td:nth-child(1) {
    text-align: right !important;
    padding-right: 4px;
}

.stats tr td:nth-child(2) {
    text-align: left !important;
}

.stats tr td:nth-child(2) a {
    padding-left: 8px;
}

.left {
    text-align: left;
}

.castButton {
    display: inline-block;
    padding: 4px 12px 4px 12px;
    margin-top: 4px;
    color: white;
    border-radius: 4px;
    background-color: #800;
    cursor: pointer;
}

.castButton:hover {
    background-color: rgba(128, 0, 0, 0.75);
}

.castButton b {
    padding-left: 6px;
    font-size: 1.4em;
    font-weight: 800;
}

.bg-red {
    background-color: #800;
}

.bg-green {
    background-color: #060;
}

.stepper button {
    background-color: black;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

.stepper button span {
    color: white;
    font-size: 16pt;
    line-height: 0;
    font-weight: bold;
}

.toptable {
    max-height: 193px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
}

.toptable .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.toptable .table tr th {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.timer {
    padding-left: 10px;
    font-size: 0.75em;
}

.hdRatio {
    width: 100%;
    aspect-ratio: 15.5 / 9;
}

.twitchzoom {
    position: absolute;
    left: 14px;
    top: calc(50% - 67px);
    width: 48px;
    height: 48px;
    color: white;
    text-align: center;
    font-size: 2.2em;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}